<!DOCTYPE html>
<html>
<head>
<title>Library Statistics</title>
</head>

<body style="font-family: Arial; text-align:center;">

<h2>📊 Library Statistics</h2>

<table border="1" align="center" cellpadding="15">

<tr>
<th>Total Books</th>
<th>Issued Books</th>
<th>Available Books</th>
<th>Students Borrowing</th>
</tr>

<tr>
<td>{{ total_books }}</td>
<td>{{ issued_books }}</td>
<td>{{ available_books }}</td>
<td>{{ total_students }}</td>
</tr>

</table>

<br><br>

<a href="/">⬅ Back to Home</a>

</body>
</html>