<!DOCTYPE html>
<html>
<head>
    <title>View Books</title>
</head>

<body style="font-family: Arial; text-align:center;">

<table border="1" align="center" cellpadding="10">

<table border="1" align="center" cellpadding="10">

<tr>
<th>ID</th>
<th>Title</th>
<th>Author</th>
<th>Shelf</th>

{% if session.get('librarian') %}
<th>Accession No</th>
<th>Publisher</th>
<th>Year</th>
<th>Pages</th>
<th>Book No</th>
<th>Cost</th>
<th>Source</th>
{% endif %}

<th>Status</th>
</tr>

{% for book in books %}
<tr>

<td>{{ book[0] }}</td>
<td>{{ book[1] }}</td>
<td>{{ book[2] }}</td>
<td>{{ book[3] }}</td>

{% if session.get('librarian') %}
<td>{{ book[4] }}</td>
<td>{{ book[5] }}</td>
<td>{{ book[6] }}</td>
<td>{{ book[7] }}</td>
<td>{{ book[8] }}</td>
<td>{{ book[9] }}</td>
<td>{{ book[10] }}</td>
{% endif %}

<td>
{% if book[-1] %}
Issued to <strong>{{ book[-1] }}</strong>
{% else %}
Available
{% endif %}
</td>

</tr>
{% endfor %}

</table>

<br><br>

<a href="{{ '/dashboard' if session.get('librarian') else '/' }}">⬅ Back</a>

</body>
</html>